body {
    background: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #332C26;
    text-align: center;
}
div {
    color: coral
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}